/* HTML Elements */
body {
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: 'Titan One', cursive;
  line-height: 1.5;
  padding: 3% 0;
  color: #a34a28;
}

header {
  background-color: #75daad;
  padding-bottom: 1%;
}

/* navigation bar */
.nav-item {
  padding: 0 20px;
  font-size: 1.3rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #1d2124;
}

.navbar-nav {
  text-align: center;
}

.navbar {
  background-color: #75daad;
}

/* Intro part */
.introduction {
  width: 50%;
  margin: auto;
}

.p-img {
  width: 80%;
}

.row {
  padding: 5% 0;
  /* background-color: #8f8d86; */
  background-color: #423f3f;
  margin: auto;
}

/* Adaquare-team */
#Adaquare-Team {
  background-color: #75daad;
}

.carousel-item {
  padding: 5% 10%;
}

.team-img {
  width: 70%;
  height: auto;
}

.title {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  margin-bottom: 0;
}

/* Specifications */
#Specifications {
  background-color: #75daad;
  padding: 0 0 10px 0;
}

.exp-text {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.exp1-image {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.exp-image {
  width: 30%;
  float: right;
  margin-left: 30px;
}

/* pricing section */
#pricing {
  background-color: #423f3f;
  padding: 4% 5%;
}

.card {
  width: 18rem;
  display: inline-block;
  margin: 5% 5%;
}

/* footer section */
.social-icon {
  color: #75daad;
  margin: 3% 2%;
}

.container-fluid {
  background-color: #423f3f;
  padding: 5px 0;
}

.container-fluid p {
  color: #fff;
}

.social-icon:hover {
  color: #fff;
}

/* making website responsive */
@media (max-width: 1000px) {
  h1, h2, h3, h4 {
    font-family: 'Bebas Neue', cursive;
  }
  .introduction {
    width: 80%;
    margin: auto;
  }
  .exp-text{
    width: 80%;
  }
  .card {
    width: 80%;
  }
  .exp-image, .exp1-image {
    width: 70%;
    display: block;
    float: none;
    margin: 50px 50px;
  }
  .exp-text {
    text-align: center;
  }
}
